.appointment-card {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    background: #547A95;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}